.service {
    margin-bottom: 100px;

}

.service_option {
    /* border: 1px solid ; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    justify-items: center;
}

.content {
    /* border: 1px solid ; */
    min-width: 250px;
    height: 200px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
    background: linear-gradient(90deg, #19c1ef75 0%, #2735b56b 100%);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

.content h3 {
    position: absolute;
    bottom: 0px;
    /* left: 20px; */
    font-size: 1.5rem;
    height: 50%;
    display: flex;
    align-items: end;
    padding: 10px;
    /* border: 1px solid; */
    color: white;
    width: 100%;

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;


}

.content p {
    position: absolute;
    right: 0px;
    background-color: rgb(9, 176, 6);
    padding: 5px;
    font-weight: 700;
    width: 100px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

@media only screen and (max-width:1070px) {
    .service_option {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width:810px) {
    .service_option {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:550px) {
.service_option {
    gap: 10px;
    padding: 5px;
}
    .content {
        min-width: 170px;
        max-height: 150px;
    }
.content h3 {
    font-size: 1.2rem;
}
}