.some_images {
    width: 100%;
    height: 400px;
    /* background-color: rgb(56, 56, 56); */

    /* color: white; */
    /* padding-top: 50px; */
    /* margin-top: 100px; */
    overflow: hidden;
    transition: all 0.4s;
    /* border: 1px solid red; */

}

.slide {
    display: flex;
    height: 100%;
    color: white;
    border-radius: 4px;


}

.child {
    background-color: rgb(27, 134, 139);

    min-width: 100%;
    height: 100%;
    position: relative;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 4px;


}

.child div {
    /* border: 1px solid red; */
    width: 600px;
    position: absolute;
    top: 20%;
    left: 10%;
}

.child div h1 {
    font-size: 3.5rem;
}

.child div p {
    font-weight: 600;
    background-color: yellow;
    width: fit-content;
    padding: 5px;
    padding-top: 3px;
    font-size: 1.2rem;
    padding-bottom: 3px;margin-top: 10px;
    color: black;
}
.child div button{
    border: 2px solid white;
    cursor: pointer;
    margin-top: 20px;
    width: 130px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    background-color:rgb(27, 134, 139) ;

}

@media only screen and (max-width:760px){
    .child div h1 {
        font-size: 2rem;
    }
    .child div{
        width: 400px;
    }
    .some_images {
        height: 300px;
    }
}
@media only screen and (max-width:460px){
    .child div h1 {
        font-size: 1.3rem;
    }
    .child div p {
        font-size: 1rem;
        margin-top: 5px;

    }
    .child div{
        width: 250px;
    }
    .some_images {
        height: 200px;
    }
    .child div button{
        font-size: 15px;
        width: 90px;
        height: 30px;
        margin-top: 10px;
        border: 1.8px solid white;

    }
}